@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.eot');
    src: url('fonts/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('fonts/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('fonts/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.eot');
    src: url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff'),
         url('fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

*
{
     box-sizing: border-box;
}

body
{    
    font-family: 'ralewaythin', sans-serif;
    color: black;
    margin: 0;
}

#bloc_page
{
    margin: 0;
    width: 100%;
}

/* Header et nav*/

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 95%;
    margin-left: 50px;
}

#logo
{
    float: left;
    width: 150px;
}

#inscription_mobile
{
    display: none;
}

#inscription
{
    font-family: 'ralewaybold', sans-serif;
    color: #0065FC;
}

nav ul
{
    list-style: none;
    display: flex;
}

nav li
{
    margin-right: 20px;
    margin-top: 20px;
    padding-right: 20px;
}

a
{
    text-decoration: none;
    color: black;
}

nav a:hover:not(#inscription)
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 34px;
}

/* Barre de recherche et filtres */

#corps_recherche
{
    margin-top: 30px;
    margin-left: 50px;
}

h1
{
    font-size: 1.3em;
    font-family: 'ralewaybold', sans-serif;
}

p
{
    margin-top: -10px;
    font-size: 1em;
}

form
{
   display: inline-flex;
   vertical-align: baseline;
   border: 1px solid #F2F2F2;
   border-radius: 15px 15px 15px 15px;
}

#localisation
{
    width: 40px;
    padding: 15px;
    background-color: #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    text-align: center;
    font-size: 1.2rem;
}

input
{
    display: inline;
    padding: 15px;
    width: 220px;
    font-family: 'ralewaybold', sans-serif;
    font-size: 1em;
    font-weight: bold;
    border: none
}

.bouton_recherche
{
    width: 130px;
    font-family: 'ralewaybold', sans-serif;
    font-size: 1em;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 15px 15px 0px;
    text-align: center;
    padding: 15px;
}

.bouton_recherche i
{
    display: none;
}

#filtres h2
{
    font-family: 'ralewaybold', sans-serif;
    font-size: 1.1em;
}

#filtres
{
    padding-top: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.filtres
{
    display: flex;
    flex-wrap: wrap;
}

.filtre
{
    display: flex;
    border: 2px solid #F2F2F2;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 30px;
}

.filtre span
{
    padding: 15px;
    font-family: 'ralewaybold', sans-serif;
    font-size: 1.1em;
}

.filtre:hover
{
    background-color: #DEEBFF;
    border-radius: 30px 30px 30px 30px;
}

.filtre i
{
    padding: 15px;
    border: 2px solid #DEEBFF;
    border-radius: 30px;
    background-color: #DEEBFF;
    color: #0065FC;
}

#info
{
    margin-top: 40px;
    display: flex;
}

#info i
{
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    color: #0065fc;
    margin-right: 12px;
    font-size: 12px;
    padding: 8px;
    padding-right: 12px;
    padding-left: 12px;
    text-align: center;
}

/* Hébergements - Marseille */

#classique_pop
{
    display: flex;
    margin-top: 30px;
    padding: 0;
    width: 100%;
}

.hebergement
{
  display: flex;
  flex-wrap: wrap;
}

.carte_logements
{
    display: flex;
    flex-direction: column; 
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 66%;
    padding-right: 20px;
    margin-left: 50px;
}

.carte_logements h2
{
    margin-left: 30px;
    margin-top: 35px;
    font-family: 'ralewaybold', sans-serif;
    font-size: 1.3rem;
}

.carte_hebergement
{
    flex: 25%;
    height: 200px;
    margin-right: 20px;
    margin-bottom: 30px;
    background-color: white;
    border: 5px solid #fff;
    border-radius: 20px;
    box-shadow: 1px 1px 10px 1px #E3E3E3;
    overflow: hidden;
}

figure a
{
  display: flex;
  flex-direction: column;
}

.carte_hebergement:hover
{
    box-shadow: 3px 3px 5px 3px #E3E3E3;
}

.hebergement img
{
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.bloc_texte
{
    line-height: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 0.8em; 
}

.bloc_texte h3
{
    font-family: 'ralewaybold', sans-serif;
    font-size: 1.2em;
    padding-bottom: 10px;
}

strong
{
    font-family: 'ralewaybold', sans-serif;
}

#voirplus 
{
    margin-left: 25px;
    margin-top: 30px;
    font-family: 'ralewaybold', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 35px;
}

/* Populaires */

#populaires
{
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 50px;
}

#populaires h2
{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 35px;
    font-family: 'ralewaybold', sans-serif;
    font-size: 1.3rem;
}

.carte_populaires
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 0.8rem;
}

.carte_populaires a
{
    margin: 10px;
    border-radius: 20px;
}

.carte_populaires i
{
    margin-top: 28px;
    font-size: 0.8rem;
}

.carte_populaires h3
{
    font-family: 'ralewaybold', sans-serif;
}

.carte_hebergement_pop
{
    margin: 10px 0px;
    width: 350px;
    height: 150px;
    padding: 4px;
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 1px 1px 10px 1px #E3E3E3;
    display: flex;
    overflow: hidden;
}

.carte_hebergement_pop:hover
{
    box-shadow: 3px 3px 5px 3px #E3E3E3;
}

.carte_hebergement_pop img
{
    width: 130px;
    height: 100%;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.bloc_texte_pop
{
    margin-left: 25px;
    width: 160px;
}

/* Activités */

.activites_marseille
{
    padding-top: 30px;
    font-family: 'ralewaybold', sans-serif;
    margin-left: 50px;
}

.activites_marseille h2
{
    font-size: 1.3rem;
}

#img_activites
{
    display: grid;
    margin-left: -30px;
    grid-template-columns: repeat(auto-fit minmax (auto, auto, 1fr));
    grid-template-rows: 100px 100px 70px 100px 100px;
    padding-bottom: 60px;
}

#img_activites figure:hover
{
    box-shadow: 3px 3px 10px 3px #E3E3E3;
}

#img_activites h3
{
    margin-left: 5px;
}

#img_activites img
{
    border-radius: 20px 20px 0px 0px;
}

#img_activites figure
{
    border: 0px solid #fff;
    box-shadow: 1px 1px 10px 1px #E3E3E3;
    border-radius: 20px 20px 20px 20px;
}

.activites1
{
    grid-column-start: 1;
    grid-row: 1 / 5;
}

.activites1 img
{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.activites2
{
    grid-column-start: 2;
    grid-row: 1 / 3;
}

.activites2 img
{
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.activites3
{
    grid-column-start: 2;
    grid-row: 4 / 5;
}

.activites3 img
{
    height: 125px;
    width: 100%;
    object-fit: cover;
}

.activites4
{
    grid-column-start: 3;
    grid-row: 1 / 5;
}

.activites4 img
{
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.activites5
{
    grid-column-start: 4;
    grid-row: 1 / 2 ;
}

.activites5 img
{
    height: 150px;
    width: 100%;
    object-fit: cover;
}

.activites6
{
    grid-column-start: 4;
    grid-row: 4 / 5;
}

.activites6 img
{
    height: 130px;
    width: 100%;
    object-fit: cover;
}

.texte_activites
{
    background-color: white;
    font-size: 0.9em;
    padding: 5px;
    border: 0px solid white;
    border-radius: 0px 0px 20px 20px;
}

/* Footer */

footer
{
    display: flex;
    background-color: #F2F2F2;
}

footer h2
{
    font-family: 'ralewaybold', sans-serif;
    font-size: 1.1em;
    margin-top: 50px;
}

footer ul
{
    list-style: none;
    margin-bottom: 50px;
    margin-left: -40px;
}

footer a:hover
{
    color: grey;
}

#a_propos
{
    margin-left: 60px;
    width: 33%;
}

#nos_hebergements
{
    width: 33%;
}

#assistance
{
    width: 34%;
}