@font-face {
    font-family: 'ralewaythin';
    src: url('fonts/raleway-variablefont_wght-webfont.eot');
    src: url('fonts/raleway-variablefont_wght-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-variablefont_wght-webfont.woff2') format('woff2'),
         url('fonts/raleway-variablefont_wght-webfont.woff') format('woff'),
         url('fonts/raleway-variablefont_wght-webfont.ttf') format('truetype'),
         url('fonts/raleway-variablefont_wght-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewaybold';
    src: url('fonts/raleway-bold-webfont.eot');
    src: url('fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('fonts/raleway-bold-webfont.woff') format('woff'),
         url('fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{    
    font-family: 'ralewaythin', sans-serif;
    color: black;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#logo
{
    float: left;
    width: 150px;
}
#inscription_mobile
{
    display: none;
}

#inscription
{
    font-family: 'ralewaybold', sans-serif;
    color: #0065FC;
}

nav ul
{
    list-style: none;
    display: flex;
}

nav li
{
    margin-right: 65px;
    font-style: bolder;
}

a
{
    text-decoration: none;
    color: black;
}

nav a:hover:not(#inscription)
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}

h1
{
    font-size: 1.3em;
    font-family: 'ralewaybold', sans-serif;
}
